<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.chill.contractMapper">
	<!-- 계약정보 불러오기(전체) -->
	<select id="readContract" resultType="ContractDTO">
		select 
		contract.cont_no as contNo,
		contract.cont_file as contFile,
		contract.cont_date as contDate,
		contract.cont_period as contPeriod,
		contract.cont_material_cnt as contMaterialCnt,
		contract.cont_leadtime as contLeadtime,
		contract.cont_dterms as contDterms,
		contract.cont_pterms as contPterms,
		contract.cont_code as contCode,
		contract.cont_material_sku as contMaterialSku,
		 
		supplier.sup_no as supNo, 
		supplier.sup_name as supName, 
		supplier.sup_reg_no as supRegNo, 
		supplier.sup_cip as supCip, 
		
		employee.emp_no as empNo, 
		employee.emp_name as empName, 
		
		material.material_no as materialNo, 
		material.material_code as materialCode, 
		material.material_name as materialName
		from contract
		join supplier on contract.sup_no = supplier.sup_no
		join employee on contract.emp_no = employee.emp_no
		JOIN material_unit_price on contract.mprice_no = material_unit_price.mprice_no
		JOIN material on material_unit_price.material_no = material.material_no
	</select>
	<!-- 계약정보 상세보기(선택) -->
	<select id="readContractByContNo" resultType="ContractDTO">
		select 
		contract.cont_no as contNo,
		contract.cont_file as contFile,
		contract.cont_date as contDate,
		contract.cont_period as contPeriod,
		contract.cont_material_cnt as contMaterialCnt,
		contract.cont_leadtime as contLeadtime,
		contract.cont_dterms as contDterms,
		contract.cont_pterms as contPterms,
		contract.cont_code as contCode,
		contract.cont_material_sku as contMaterialSku,
		
		supplier.sup_no as supNo, 
		supplier.sup_name as supName, 
		supplier.sup_reg_no as supRegNo, 
		supplier.sup_cip as supCip, 
		
		employee.emp_no as empNo, 
		employee.emp_name as empName, 
		
		quotation.quot_no as quotNo, 
		quotation.quot_file as quotFile, 
		
		material.material_no as materialNo,
		material.material_name as materialName, 
		material.material_code as materialCode, 
		material.material_raw_material as materialRawMaterial, 
		material.material_description as materialDescription, 
		material.material_unit as materialUnit,
		
		material_unit_price.cont_mprice as contMprice, 
		material_unit_price.mprice_currency as mpriceCurrency 
		from contract
		join supplier on contract.sup_no = supplier.sup_no
		join employee on contract.emp_no = employee.emp_no
		join quotation on contract.quot_no = quotation.quot_no
		join material_unit_price on contract.mprice_no = material_unit_price.mprice_no
		join material on material_unit_price.material_no = material.material_no
		where contract.cont_no=#{contNo}
	</select>
	<!-- 계약정보 검색조회(계약번호 사용, 계약관리 전용) -->
	<select id="searchContract" parameterType="map" resultType="ContractDTO">
		select
		contract.cont_no as contNo,
		contract.cont_file as contFile,
		contract.cont_date as contDate,
		contract.cont_period as contPeriod,
		contract.cont_material_cnt as contMaterialCnt,
		contract.cont_leadtime as contLeadtime,
		contract.cont_dterms as contDterms,
		contract.cont_pterms as contPterms,
		contract.cont_code as contCode,
		contract.cont_material_sku as contMaterialSku,
		 
		 
		supplier.sup_no as supNo, 
		supplier.sup_name as supName, 
		supplier.sup_reg_no as supRegNo, 
		supplier.sup_cip as supCip, 
		
		employee.emp_no as empNo, 
		employee.emp_name as empName, 
		
		material.material_no as materialNo, 
		material.material_code as materialCode, 
		material.material_name as materialName
		from contract 	
		<where>
       		<if test="searchType == 'contCode' and searchValue != null and searchValue != ''">
            	AND cont_code LIKE CONCAT('%', #{searchValue}, '%')
        	</if>
        	
    	</where>
	</select>	
	<!-- 오늘 날짜인 견적 갯수 세기 -->
	<select id="countContractsToday" resultType="int">
    	SELECT COUNT(*) FROM contract
    	WHERE DATE_FORMAT(cont_date, '%Y%m%d') = #{todayDate}
	</select>
	
	<!-- 계약정보 등록하기 -->
	<insert id="createContract" parameterType="ContractDTO">
		insert into contract(cont_code, sup_no, cont_date, cont_period, emp_no, quot_no, cont_material_cnt, cont_material_sku, 
		cont_leadtime, cont_dterms, cont_pterms, cont_file, mprice_no)	
		values(#{contCode}, #{supNo}, #{contDate}, #{contPeriod}, 2, #{quotNo}, #{contMaterialCnt}, #{contMaterialSku}, 
		#{contLeadtime}, #{contDterms}, #{contPterms}, #{contFile}, #{mpriceNo})
	</insert>
	<!-- 자재단가테이블 등록용 -->
	<insert id="createMprice" parameterType="ContractDTO" useGeneratedKeys="true" keyProperty="mpriceNo">
		insert into material_unit_price(material_no, sell_mprice, cont_mprice, mprice_currency)
		values(#{materialNo}, #{contMprice}, #{contMprice}, #{mpriceCurrency})
	</insert>

</mapper>