<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.chill.incomingMapper">

	<!-- 자재창고별 자재목록 조회 DTO->Material_storageDTO -->
	<select id="selectAll" parameterType="IncomingDTO" resultType="IncomingDTO">
		SELECT 
		material.material_name,       
		material.material_code,       
		material.material_raw_material, 
		material.material_description,        
		material.material_unit,       
		material_storage.mstorage_stock,     
		material_storage.mstorage_code,      
		employee.emp_name AS 담당자명,         
		supplier.sup_name AS 공급업체명,       
		material.product_product_no,         
		material_in.material_in_date,        
		material.material_etc              
		FROM material_storage 
		JOIN material 
		ON material_storage.material_material_no = material.material_no   
		LEFT JOIN material_in 
		ON material.material_no = material_in.material_material_no
		LEFT JOIN employee 
		ON material_storage.emp_emp_no = employee.emp_no  
		LEFT JOIN supplier 
		ON material_storage.supplier_sup_no = supplier.sup_no  
	<where>
		<!-- 창고코드는 필수 조건 -->
		material_storage.mstorage_code = #{mstorage_code}
		
		<!-- 자재코드가 있을 때만 조건 추가 -->
		<if test="material_code != null and material_code != ''">
			AND material.material_code = #{material_code}
		</if>
		
		<!-- 입고날짜가 있을 때만 조건 추가 -->
		<if test="material_in_date != null and material_in_date != ''">
			AND material_in.material_in_date = #{material_in_date}
		</if>
	</where>
		ORDER BY material_storage.mstorage_code, material.material_name
	</select>		
  		
  		<!-- 자재창고 AND 자재코드별 자재목록 where 조건 잘보기-->
  	<!--  	<select id="selectCode">
			SELECT 
    material.material_name,       
    material.material_code,       
    material.material_raw_material, 
    material.material_description,        
    material.material_unit,       
    material_storage.mstorage_stock,     
    material_storage.mstorage_code,      
    employee.emp_name AS 담당자명,         
    supplier.sup_name AS 공급업체명,       
    material.product_product_no,         
    material_in.material_in_date,        
    material.material_etc              
	FROM material_storage 
	JOIN material ON material_storage.material_material_no = material.material_no   
	LEFT JOIN material_in ON material.material_no = material_in.material_material_no
	LEFT JOIN employee ON material_storage.emp_emp_no = employee.emp_no  
	LEFT JOIN supplier ON material_storage.supplier_sup_no = supplier.sup_no  
	WHERE material_storage.mstorage_code = #{mstorage_code} AND material.material_code = #{material_code}
	ORDER BY material_storage.mstorage_code, material.material_name;
		</select> -->
  	
  		<!-- 자재창고 AND 입고날짜별 자재목록 where 조건 잘보기-->
  	<!--  	<select id="selectDate">
			SELECT 
    material.material_name,       
    material.material_code,       
    material.material_raw_material, 
    material.material_description,        
    material.material_unit,       
    material_storage.mstorage_stock,     
    material_storage.mstorage_code,      
    employee.emp_name AS 담당자명,         
    supplier.sup_name AS 공급업체명,       
    material.product_product_no,         
    material_in.material_in_date,        
    material.material_etc              
	FROM material_storage 
	JOIN material ON material_storage.material_material_no = material.material_no   
	LEFT JOIN material_in ON material.material_no = material_in.material_material_no
	LEFT JOIN employee ON material_storage.emp_emp_no = employee.emp_no  
	LEFT JOIN supplier ON material_storage.supplier_sup_no = supplier.sup_no  
	WHERE material_storage.mstorage_code = #{mstorage_code} AND material_in.material_in_date = #{material_in_date}
	ORDER BY material_storage.mstorage_code, material.material_name;
		</select> -->
  	
  		<!-- 자재창고 AND 자재코드 AND 입고날짜별 자재목록 where 조건 잘보기-->
  	 <!--  	<select id="selectCodeDate">
			SELECT 
    material.material_name,       
    material.material_code,       
    material.material_raw_material, 
    material.material_description,        
    material.material_unit,       
    material_storage.mstorage_stock,     
    material_storage.mstorage_code,      
    employee.emp_name AS 담당자명,         
    supplier.sup_name AS 공급업체명,       
    material.product_product_no,         
    material_in.material_in_date,        
    material.material_etc              
	FROM material_storage 
	JOIN material ON material_storage.material_material_no = material.material_no   
	LEFT JOIN material_in ON material.material_no = material_in.material_material_no 
	LEFT JOIN employee ON material_storage.emp_emp_no = employee.emp_no  
	LEFT JOIN supplier ON material_storage.supplier_sup_no = supplier.sup_no  
	WHERE material_storage.mstorage_code = #{mstorage_code} 
	AND material.material_code = #{material_code} 
	AND material_in.material_in_date = #{material_in_date}
	ORDER BY material_storage.mstorage_code, material.material_name;
		</select>  -->
  		
  		
  	<!-- 창고에 입고예정인 자재목록조회 -->	
	<select id="selectExp">
		SELECT 
    m.material_name, 
    m.material_code, 
    m.material_raw_material, 
    m.material_description, 
    m.material_unit, 
    mi.material_in_cnt, 
     s.sup_name,     
    mi.material_in_date, 
	FROM material_in mi
	JOIN material m ON mi.material_material_no = m.material_no
	JOIN material_storage ms ON mi.material_storage_mstorage_no = ms.mstorage_no
	left join supplier s ON ms.supplier_sup_no = s.sup_no
	ORDER BY mi.material_in_date DESC;
	</select>	
	
	<!-- 창고로 자재 등록 -->
	<!-- 자재 테이블에 창고입고여부컬럼을 추가해 0이면 이미 창고에 입고된 자재, 1이면 입고예정(창고에 입고하기 전)으로 구분하려함  -->
	
	<!-- 자재반품 -->
	
	
</mapper>