<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.chill.incomingMapper">

	<!-- 자재창고별 자재목록 조회 -->
	<select id="selectAll" parameterType="kr.co.chill.incoming.IncomingDTO" resultType="kr.co.chill.incoming.IncomingDTO">
		SELECT 
		material.material_name,       
		material.material_code,       
		material.material_raw_material, 
		material.material_description,        
		material.material_unit,       
		material_storage.mstorage_stock,     
		material_storage.mstorage_code,      
		employee.emp_name AS 담당자명,         
		supplier.sup_name AS 공급업체명,       
		material.product_product_no,         
		material_in.material_in_date,        
		material.material_etc              
		FROM material_storage 
		JOIN material 
		ON material_storage.material_material_no = material.material_no   
		LEFT JOIN material_in 
		ON material.material_no = material_in.material_material_no
		LEFT JOIN employee 
		ON material_storage.emp_emp_no = employee.emp_no  
		LEFT JOIN supplier 
		ON material_storage.supplier_sup_no = supplier.sup_no  
		<where>
		<!-- 창고코드는 필수 조건 -->
		material_storage.mstorage_code = #{mstorage_code}
	
		<!-- 자재코드가 있을 때만 조건 추가 -->
		<if test="material_code != null and material_code != ''">
			AND material.material_code = #{material_code}
		</if>
		
		<!-- 입고날짜가 있을 때만 조건 추가 -->
		<if test="material_in_date != null and material_in_date != ''">
			AND material_in.material_in_date = #{material_in_date}
		</if>
		
		<!-- 자재 상태가 1(정상)인 것만 조회-->
		AND material_in.state = 1
	</where>
		ORDER BY material_storage.mstorage_code, material.material_name
	</select>		
  		
  		
  	<!-- 창고에 입고예정인 자재목록조회 -->	
  	 <select id="selectExp" parameterType="kr.co.chill.incoming.IncomingDTO" resultType="kr.co.chill.incoming.IncomingDTO">
		SELECT 
	mi.material_material_no,	
    m.material_name, 
    m.material_code, 
    m.material_raw_material, 
    m.material_description, 
    m.material_unit, 
    mi.material_in_cnt, 
    s.sup_name,     
    mi.material_in_date
	FROM material_in mi
	JOIN material m ON mi.material_material_no = m.material_no
	JOIN material_storage ms ON mi.material_storage_mstorage_no = ms.mstorage_no
	left join supplier s ON ms.supplier_sup_no = s.sup_no
	WHERE mi.state = 0
	ORDER BY mi.material_in_date DESC;
	
	</select>	
	
	<!-- 창고로 자재 등록 state 값을 0->1로 수정 -->
	<update id="materialIn">
		update material_in
		set state = #{state}
		where state = 0
		and material_material_no = #{material_material_no}
	</update>

	<!-- 자재반품 -->
	
	
</mapper>