<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.chill.productMapper">
	<!-- 품목정보 불러오기(기본셋) -->
	<select id="readProduct" resultType="ProductDTO">
		select 
		product_no as productNo, 
		product_name as productName, 
		product_code as productCode, 
		eop
		from product 
	</select>
	<!-- 품목정보 검색조회(품목코드,품목명,판매상태) -->
	<select id="searchProduct" parameterType="map" resultType="ProductDTO">
		select 
		product_no as productNo, 
		product_name as productName, 
		product_code as productCode, 
		eop 
		from product 	
		<where>
       		<if test="searchType == 'productCode' and searchValue != null and searchValue != ''">
            	AND product_code LIKE CONCAT('%', #{searchValue}, '%')
        	</if>
        	<if test="searchType == 'productName' and searchValue != null and searchValue != ''">
        	    AND product_name LIKE CONCAT('%', #{searchValue}, '%')
        	</if>
    	</where>
	</select>
	<!-- 품목정보 검색조회(제품코드, 외부용) -->
	<select id="getProductByProductCode" resultType="ProductDTO">
		select 
		product_no as productNo, 
		product_name as productName, 
		product_code as productCode, 
		eop 
		from product
		where product_code=#{productCode}
	</select>
	<!-- 선택조회(상세보기,bom 화면출력용) -->
	<select id="getProductByProductNo" parameterType="int" resultType="ProductDTO">
		select 
		product_no as productNo, 
		product_name as productName, 
		product_code as productCode, 
		eop 
		from product
		where product_no=#{productNo}
	</select>
	
	<!-- 품목추가 -->
	<insert id="createProduct" parameterType="ProductDTO">
		insert into product(product_name, product_code, eop)
		values(#{productName}, #{productCode}, #{eop})	
	</insert>
	
	<!-- 품목수정 -->
	<update id="updateProduct" parameterType="ProductDTO">
		update product
		set product_name=#{productName}, product_code=#{productCode}, eop=#{eop}
		where product_no=#{productNo}
	</update>
	
	<!-- 품목삭제 -->
	<delete id="deleteProduct" parameterType="int">
		delete product 
		where product_no=#{productNo}
	</delete>
</mapper>